<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^index\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^category$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url="^feed-c([0-9]+)\.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="feed.php?cat={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4" stopProcessing="true">
                    <match url="^feed-b([0-9]+)\.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="feed.php?brand={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5" stopProcessing="true">
                    <match url="^feed-type([^-]+)\.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="feed.php?type={R:1}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 6" stopProcessing="true">
                    <match url="^feed\.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="feed.php" />
                </rule>
                <rule name="已导入的规则 7" stopProcessing="true">
                    <match url="^category-([0-9]+)-b([0-9_]+)-min([0-9]+)-max([0-9]+)-fil([0-2])-attr([^-]*)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}&amp;brand={R:2}&amp;price_min={R:3}&amp;price_max={R:4}&amp;filter={R:5}&amp;filter_attr={R:6}&amp;page={R:7}&amp;sort={R:8}&amp;order={R:9}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 8" stopProcessing="true">
                    <match url="^category-([0-9]+)-b([0-9_]+)-min([0-9]+)-max([0-9]+)-attr([^-]*)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}&amp;brand={R:2}&amp;price_min={R:3}&amp;price_max={R:4}&amp;filter_attr={R:5}&amp;page={R:6}&amp;sort={R:7}&amp;order={R:8}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 9" stopProcessing="true">
                    <match url="^category-([0-9]+)-b([0-9_]+)-min([0-9]+)-max([0-9]+)-fil([0-2])-attr([^-]*)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}&amp;brand={R:2}&amp;price_min={R:3}&amp;price_max={R:4}&amp;filter={R:5}&amp;filter_attr={R:6}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 10" stopProcessing="true">
                    <match url="^category-([0-9]+)-b([0-9_]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}&amp;brand={R:2}&amp;page={R:3}&amp;sort={R:4}&amp;order={R:5}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 11" stopProcessing="true">
                    <match url="^category-([0-9]+)-b([0-9_]+)-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}&amp;brand={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 12" stopProcessing="true">
                    <match url="^category-([0-9]+)-b([0-9_]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}&amp;brand={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 13" stopProcessing="true">
                    <match url="^category-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="category.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 14" stopProcessing="true">
                    <match url="^goods-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="goods.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 15" stopProcessing="true">
                    <match url="^article_cat-([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php?id={R:1}&amp;page={R:2}&amp;sort={R:3}&amp;order={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 16" stopProcessing="true">
                    <match url="^article_cat-([0-9]+)-([0-9]+)-(.+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php?id={R:1}&amp;page={R:2}&amp;keywords={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 17" stopProcessing="true">
                    <match url="^article_cat-([0-9]+)-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php?id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 18" stopProcessing="true">
                    <match url="^article_cat-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="article_cat.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 19" stopProcessing="true">
                    <match url="^article-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="article.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 20" stopProcessing="true">
                    <match url="^brand-([0-9]+)-c([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="brand.php?id={R:1}&amp;cat={R:2}&amp;page={R:3}&amp;sort={R:4}&amp;order={R:5}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 21" stopProcessing="true">
                    <match url="^brand-([0-9]+)-c([0-9]+)-([0-9]+)(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="brand.php?id={R:1}&amp;cat={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 22" stopProcessing="true">
                    <match url="^brand-([0-9]+)-c([0-9]+)(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="brand.php?id={R:1}&amp;cat={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 23" stopProcessing="true">
                    <match url="^brand-([0-9]+)(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="brand.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 24" stopProcessing="true">
                    <match url="^stores-([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="stores.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 25" stopProcessing="true">
                    <match url="^tag-(.*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="search.php?keywords={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 26" stopProcessing="true">
                    <match url="^snatch-([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="snatch.php?id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 27" stopProcessing="true">
                    <match url="^group_buy-([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="group_buy.php?act=view&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 28" stopProcessing="true">
                    <match url="^auction-([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="auction.php?act=view&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 29" stopProcessing="true">
                    <match url="^exchange-id([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?id={R:1}&amp;act=view" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 30" stopProcessing="true">
                    <match url="^exchange-([0-9]+)-min([0-9]+)-max([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?cat_id={R:1}&amp;integral_min={R:2}&amp;integral_max={R:3}&amp;page={R:4}&amp;sort={R:5}&amp;order={R:6}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 31" stopProcessing="true">
                    <match url="^exchange-([0-9]+)-([0-9]+)-(.+)-([a-zA-Z]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?cat_id={R:1}&amp;page={R:2}&amp;sort={R:3}&amp;order={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 32" stopProcessing="true">
                    <match url="^exchange-([0-9]+)-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?cat_id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 33" stopProcessing="true">
                    <match url="^exchange-([0-9]+)(.*)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?cat_id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 34">
                    <match url="^(.*)$http://www.xjd.test/$1" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{http_host}^xjd.test" pattern="[NC]" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="[L,R=301]" />
                </rule>
                <rule name="已导入的规则 35" stopProcessing="true">
                    <match url="^pre_sale-([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="pre_sale.php?id={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
